{% autoescape off %}
Você está a receber este e-mail porque pediu a recuperação da sua palavra-passe para a sua conta de utilizador em {{ site_name }}.

Por favor, aceda à seguinte página e escolha uma nova palavra-passe:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'cursos:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
O seu nome de utilizador, caso se tenha esquecido: {{ user.get_username }}

Obrigado por usar o nosso site!

A equipa de {{ site_name }}
{% endautoescape %}
