{% extends 'base.html' %}

{% block title %}
    Palavra-passe Alterada - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm text-center">
                <div class="card-body p-5">
                    <h1 class="h3 mb-3 text-success">Palavra-passe Alterada!</h1>
                    <p class="lead">A sua palavra-passe foi alterada com sucesso.</p>
                    <a href="{% url 'cursos:login' %}" class="btn btn-primary mt-3">Ir para a página de Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
