{% extends 'base.html' %}

{% block title %}
    Senha Alterada - {{ block.super }}
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-[calc(100vh-200px)]">
    <div class="w-full max-w-lg text-center">
        <div class="bg-white rounded-xl shadow-lg p-10">
            <h1 class="text-3xl font-bold text-success mb-4">Senha Alterada!</h1>
            <p class="text-lg text-gray-600">
                A sua senha foi alterada com sucesso.
            </p>
            <a href="{% url 'cursos:login' %}" class="mt-6 inline-block bg-primary text-white font-semibold py-2 px-6 rounded-md hover:bg-opacity-90 transition-colors">Ir para a página de Login</a>
        </div>
    </div>
</div>
{% endblock %}
